* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Courier Prime", monospace;
  background: #f8ffe0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#app {
  width: 100%;
  max-width: 800px;
  padding: 20px;
  position: relative;
  text-align: center;
}

canvas {
  width: 100%;
  max-width: 1063px;
  height: auto;
  aspect-ratio: 1063 / 591;
  margin-bottom: 30px;
  rotate: 1.8deg;
  border-radius: 52px;
  /* box shadow x 0 y 4 blur 4 spread 0 98a2ef  */
  box-shadow: 4px 2px 4px 1px rgba(152, 162, 239, 0.5);
}

.screen {
  display: none;
  width: 100%;
}

.active {
  display: block;
}

.logo {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.subtitle {
  color: #4a90e2;
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
  margin-bottom: 50px;
}

.inputs-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.input-wrapper {
  margin-bottom: 15px;
  width: 100%;
}

#nameInput,
#occupationInput,
.file-upload-button {
  width: 70%;
  padding: 12px;
  border: 2px solid #fad2eb;
  font-size: 20px;
  text-align: center;
}

#nameInput::placeholder,
#occupationInput::placeholder {
  color: rgba(0, 0, 0, 0.31);
  font-weight: 400;
  opacity: 1;
}

#imageInput {
  display: none;
}

.file-upload-button {
  background: #ffb5d7;
  color: #ED75C1;
  cursor: pointer;
  text-align: center;
  border: none;
}

.file-upload-button:hover {
  background: #ff97c7;
}

.comecar-button {
  width: 100px;
  height: 60px;
  margin: 30px auto;
  font-weight: 700;
  background: transparent;
  border: 3px #84cafa solid;
  color: #84cafa;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s ease;
  display: block;
}

.comecar-button:hover {
  background: #ff9eb5;
}

.home-stars,
.home-flowers {
  position: absolute;
  pointer-events: none; /* Allows clicks to pass through to elements below */
}

.home-stars {
  top: 10%;
  left: 5%;
  width: 20%;
  scale: 1.3;
  z-index: 1;
}

.home-flowers {
  right: 12%;
  width: 25%;
  rotate: 270deg;
  z-index: 1;
}

@media (max-width: 480px) {
  .subtitle {
    font-size: 15px;
  }
  
  .home-stars {
    top: 70%;
    width: 25%;
  }

  .home-flowers {
    top: -18%;
    rotate: 0deg;
    left: 30%;
    width: 35%;
  }

  .decoration-btn {
    width: 50px;
    height: 50px;
  }
  
  .color-btn {
    width: 40px;
    height: 40px;
  }

  canvas {
    border-radius: 20px;
  }
}

/* BUILDER */

.decoration-buttons,
.color-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 15px;
}

.decoration-btn {
  width: 70px;
  height: 70px;
  border: 2px solid #84CAFA;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 5px;
  transition: all 0.2s;
}

.decoration-btn img {
  max-width: 100%;
  max-height: 100%;
}

.decoration-btn.active {
  border-color: #ff97c7;
  transform: scale(1.05);
}

.color-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #fad2eb;
  cursor: pointer;
  transition: all 0.2s;
}

.color-btn.active {
  border-color: #ff97c7;
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.save-button {
  width: 100px;
  height: 55px;
  margin: 30px auto;
  font-weight: 700;
  background: transparent;
  border: 2px #84cafa solid;
  color: #84cafa;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s ease;
  display: block;
}

.save-button:hover {
  background-color: #5f9ecd;
}